*{}
margin: 0
padding: 0

.cabeçalho{
    background-color: #FF8080
    display:flex;
    padding: 24px;
}

.cabeçalho-título {
    color: #F26457;
}

.cabeçalho-lista {
    color: white;
    display: inline-block;
}

.cabeçalho-imagem{
    width: 10%;